<div
    class="flex flex-col w-full md:p-[80px] py-[80px] md:min-h-[738px] relative"
>
    <div class="text-center font-bold text-white text-[30px] mx-auto">
        Ready to serve you!
    </div>

    <div
        class="text-center font-bold text-white/70 text-sm md:text-[16px] px-[80px] md:w-[578px] mx-auto"
    >
        "Everest excels in connecting companies with the perfect talent – making
        the hiring process a breeze with just the right touch of expertise and
        warmth".
    </div>

    <div class="mt-[50px] w-full max-w-screen-sm mx-auto px-6 relative z-99">
        <div
            class="flex items-center h-[62px] rounded-full border border-white/20 mb-[30px] w-full focus-within:ring-2 focus-within:ring-accent-lighter"
        >
            <span
                class="material-symbols-outlined text-4xl mx-4 text-primary-lighter"
            >
                account_circle
            </span>

            <input
                #nameInput
                placeholder="Full Name"
                class="w-full h-full text-white bg-transparent outline-none"
            />
        </div>

        <div
            class="flex items-center h-[62px] rounded-full border border-white/20 mb-[30px] w-full focus-within:ring-2 focus-within:ring-accent-lighter"
        >
            <span
                class="material-symbols-outlined text-4xl mx-4 text-primary-lighter"
            >
                phone_iphone
            </span>

            <input
                placeholder="Phone"
                class="w-full h-full text-white bg-transparent outline-none"
            />
        </div>

        <div
            class="flex items-center h-[62px] rounded-full border border-white/20 mb-[30px] w-full focus-within:ring-2 focus-within:ring-accent-lighter"
        >
            <span
                class="material-symbols-outlined text-4xl mx-4 text-primary-lighter"
            >
                email
            </span>

            <input
                placeholder="Email"
                class="w-full h-full text-white bg-transparent outline-none"
            />
        </div>

        <button
            style="background: linear-gradient(to right, #8ed56a, #4ba0e2)"
            class="mt-8 md:hover:brightness-75 flex items-center h-[62px] rounded-full w-full text-black font-bold text-center justify-center"
        >
            Let us contact you
        </button>
    </div>

    <div class="absolute left-0 opacity-50 -bottom-6 -z-0 md:opacity-100">
        <img
            width="322"
            height="474"
            src="../../../../assets/space-ship.png"
            alt=""
        />
    </div>
</div>
