<div class="flex items-center">
    <div
        class="w-full md:grid grid-cols-1 md:grid-cols-2 gap-[21px] px-6 py-16 md:p-[80px] min-h-[70vh] max-w-screen-lg mx-auto gap-y-[50px]"
    >
        <div
            class="flex flex-col h-full justify-center col-span-3 translate-y-[20vh] md:translate-y-[10vh]"
        >
            <div
                class="text-4xl md:text-9xl font-black text-primary-lighter animate__animated animate__slideInLeft animate__faster"
            >
                Success starts now
            </div>

            <div
                class="text-white/50 md:leading-[40px] text-sm md:text-lg animate__animated animate__fadeIn"
            >
                Say goodbye to mundane job searches! Embark on an exciting
                journey of career exploration, Hungary-style.
                <br />
                Ready for a career transformation? 🚀 Unleash the magic as we
                craft the path to your dream job together. Your next adventure
                in Hungary awaits – let the enchantment begin!
            </div>

            <button
                style="background: linear-gradient(to right, #8ed56a, #4ba0e2)"
                class="text-black animate__animated animate__zoomIn animate__delay-1s mt-10 font-bold w-[214px] h-[53px] rounded-l-full rounded-r-full mx-[7px]"
            >
                Take me to Hungary!
            </button>
        </div>
    </div>
</div>
