<div class="flex items-center">
    <div
        class="w-full md:grid grid-cols-1 md:grid-cols-2 gap-[21px] px-6 py-16 md:p-[80px] min-h-[70vh] max-w-screen-lg mx-auto gap-y-[50px]"
    >
        <div
            class="flex flex-col h-full justify-center col-span-3 translate-y-[20vh] md:translate-y-[10vh]"
        >
            <div
                class="text-4xl md:text-9xl font-black text-primary-lighter animate__animated animate__slideInLeft animate__faster"
            >
                Success starts now
            </div>

            <div
                class="text-white/50 md:leading-[40px] text-sm md:text-lg animate__animated animate__fadeIn"
            >
            Say goodbye to mundane job searches! Embark on an exciting journey of career exploration, where we'll craft the path to your dream job together.
                <br />
                Ready for a career transformation? 🚀 Unleash the magic as your next adventure awaits – let the enchantment begin!
            </div>

            <div class="relative group">
                <div class="absolute flex items-center my-[30px]"> 

                    <div class="absolute -inset-1 bg-gradient-to-r from-pink-500 to-purple-700 w-[214px] h-[53px] mx-[7px] blur-sm group-hover:blur opacity-200 transition duration-1000 animate__animated animate__zoomIn animate__delay-1s rounded-l-full rounded-r-full"></div>
                    
                    <button
                        style="background: linear-gradient(to right, #8ed56a, #4ba0e2)"
                        class="relative text-white group-hover:text-gray-500 opacity-200 transition duration-1000 animate__animated animate__zoomIn animate__delay-1s font-bold w-[214px] h-[53px] rounded-l-full rounded-r-full mx-[7px]"
                    >
                        Take me to my Future!
                    </button>
                </div> 
            </div>
        </div>
    </div>
</div>
