<navbar #navBar />

@defer (on viewport; ) {
<home-section1 #homeSection1 />
} @placeholder {
<div></div>
}

<!-- -  -->

@defer (on viewport; ) {
<home-section2 #homeSection2 />
} @placeholder {
<div></div>
}

<!-- -  -->

@defer (on viewport; ) {
<home-section3 #homeSection3 />
} @placeholder {
<div></div>
} @defer (on viewport; ) {
<home-section4 #homeSection4 />
} @placeholder {
<div></div>
}

<!-- -  -->

@defer (on viewport; ) {
<home-section5 #homeSection5 />
} @placeholder {
<div></div>
}

<!-- -  -->

@defer (on viewport; ) {
<contact-us #contactUs />
} @placeholder {
<div></div>
}

<!-- -  -->

@defer (on viewport; ) {
<app-footer #appFooter />
} @placeholder {
<div></div>
}
