<div class="flex flex-col w-full bg-black p-[80px] pt-28">
    <div class="text-center font-bold text-white text-[30px] mx-auto">
        The team
    </div>

    <div
        class="text-center text-white/70 text-sm md:text-[16px] md:w-[578px] mx-auto mt-4"
    >
        We are a team of passionate individuals who love to make complex things
        simple.
    </div>

    <div
        class="w-full md:grid grid-cols-1 md:grid-cols-2 gap-[21px] px-6 py-16 md:p-[80px] max-w-screen-lg mx-auto gap-y-[50px]"
    >

        <div
            class="text-center flex flex-col items-center justify-center md:mb-0 mb-12"
        >
            <img
                src="../../../../assets/valeriy.jpg"
                alt=""
                class="rounded-full w-[90x] h-[90px] mx-auto mb-4"
            />

            <div class="text-4xl text-white font-bold">Valery</div>
            <div class="text-white/50">Chief Executive Officer</div>
            <a href="https://rejestr.io/osoby/3030607/valeriy-horobets" target="_blank" rel="noopener noreferrer" class="text-accent-default hover:text-green-900 underline mt-2">See Details</a>
        </div>

        <div
            class="text-center flex flex-col items-center justify-center md:mb-0 mb-12"
        >
            <img
                src="../../../../assets/rodelyn.jpg"
                alt=""
                class="rounded-full w-[90x] h-[90px] mx-auto mb-4"
            />

            <div class="text-4xl text-white font-bold">Rodelyn</div>
            <div class="text-white/50">Recruiter</div>
            <a href="https://rejestr.io/osoby/3030609/rodelyn-diolata" target="_blank" rel="noopener noreferrer" class="text-accent-default hover:text-green-900 underline mt-2">See Details</a>
        </div>
    </div>
</div>
