<div
    class="flex flex-col w-full bg-brand-dark-gray/40 md:p-[80px] pt-6 px-6 md:pt-28 md:mt-28"
>
    <div
        class="w-full md:grid grid-cols-1 md:grid-cols-3 gap-[21px] px-6 md:p-[80px] max-w-screen-lg mx-auto"
    >
        <li
            role="button"
            class="bg-black py-[20px] px-[25px] rounded-[20px] text-center mb-4 md:mb-0"
        >
            <span
                class="material-symbols-outlined text-9xl text-primary-lighter mt-8 -mb-4"
            >
                add_reaction
            </span>

            <div class="text-white font-black text-[25px] mt-[32px]">
                221,464
            </div>

            <div class="mt-[17px] mb-[49px] text-white/60 text-[16px]">
                Happy Recruits
            </div>
        </li>

        <li
            role="button"
            class="bg-black py-[20px] mb-4 md:mb-0 px-[25px] rounded-[20px] text-center"
        >
            <span
                class="material-symbols-outlined text-9xl text-accent-lighter mt-8 -mb-4"
            >
                apartment
            </span>

            <div class="text-white font-black text-[25px] mt-[32px]">5,306</div>

            <div class="mt-[17px] mb-[49px] text-white/60 text-[16px]">
                Companies Served
            </div>
        </li>

        <li
            role="button"
            class="bg-black mb-4 md:mb-0 py-[20px] px-[25px] rounded-[20px] text-center"
        >
            <span
                class="material-symbols-outlined text-9xl text-pink-300 mt-8 -mb-4"
            >
                source_environment
            </span>

            <div class="text-white font-black text-[25px] mt-[32px]">7</div>

            <div class="mt-[17px] mb-[49px] text-white/60 text-[16px]">
                Cities Covered
            </div>
        </li>
    </div>
</div>
