<div
    class="flex flex-col w-full bg-brand-dark-gray/40 p-6 md:p-[80px] md:pt-28 md:mt-28"
>
    <div class="md:text-center font-bold text-white text-[30px] mx-auto">
        Explore the Magic of a Captivating Destination!
    </div>

    <div
        class="md:text-center text-white/70 text-sm md:text-[16px] md:w-[578px] mx-auto mt-4"
    >
    Embark on a journey to explore the captivating allure of a mysterious and diverse land – a tapestry woven with the threads of ancient cultures, mouthwatering flavors, and breathtaking landscapes. Your thrilling adventure awaits, promising an immersive experience into the heart and soul of a remarkable destination. Get ready to be enchanted by the spirit of this unique and extraordinary place!
    </div>
</div>

<div class="flex items-center">
    <div
        class="w-full md:grid grid-cols-1 md:grid-cols-2 gap-[21px] px-6 p-[80px] max-w-screen-lg mx-auto gap-y-[50px]"
    >

        <li
            role="button"
            class="bg-brand-card-dark py-[20px] mb-9 md:mb-0 px-[25px] rounded-[20px] text-center"
        >
        
            <img
                class="object-cover flex-shrink-0 rounded-[20px] w-full h-[322px]"
                src="../../../../assets/city.png"
                alt=""
            />

            <div class="text-white font-black text-[25px] mt-[32px]">
                Urban Thrill
            </div>

            <div class="mt-[17px] mb-[49px] text-white/60 text-[16px]">
                Immerse yourself in the vibrant pulse of Hungary's bustling city
                life.
            </div>
                <button
                     role="button"
                    class="w-full py-[18px] border border-white/20 text-white rounded-full hover:bg-white/20"
                >
                    I'm ready for Hungary
                </button>   
        
        </li>
   
        <li
            role="button"
            class="bg-brand-card-dark py-[20px] mb-9 md:mb-0 px-[25px] rounded-[20px] text-center"
        >
            <img
                class="object-cover flex-shrink-0 rounded-[20px] w-full h-[322px]"
                src="../../../../assets/church.png"
                alt=""
            />

            <div class="text-white font-black text-[25px] mt-[32px]">
                Serenity in place
            </div>

            <div class="mt-[17px] mb-[49px] text-white/60 text-[16px]">
                Or perhaps the tranquil charm of Hungary's countryside calls to
                you?
            </div>

            <button
                role="button"
                class="w-full py-[18px] border border-white/20 text-white rounded-full hover:bg-white/20"
            >
                Bring me now
            </button>
        </li>

        <li
            role="button"
            class="bg-brand-card-dark py-[20px] mb-9 md:mb-0 px-[25px] rounded-[20px] text-center"
        >
            <img
                class="object-cover flex-shrink-0 rounded-[20px] w-full h-[322px]"
                src="../../../../assets/Warsaw.jpeg"
                alt=""
            />

            <div class="text-white font-black text-[25px] mt-[32px]">
                Warsaw
            </div>

            <div class="mt-[17px] mb-[49px] text-white/60 text-[16px]">
                The bustling capital city of Poland, Warsaw is where it’s at for everything from job opportunities to culture and lively nights out.
            <br>
            <br>
            </div>

            <button
                role="button"
                class="w-full py-[18px] border border-white/20 text-white rounded-full hover:bg-white/20"
            >
                Poland
            </button>
        </li>

        <li
            role="button"
            class="bg-brand-card-dark py-[20px] mb-9 md:mb-0 px-[25px] rounded-[20px] text-center"
        >
            <img
                class="object-cover flex-shrink-0 rounded-[20px] w-full h-[322px]"
                src="../../../../assets/belgium.jpg"
                alt=""
            />

            <div class="text-white font-black text-[25px] mt-[32px]">
                Antwerp
            </div>

            <div class="mt-[17px] mb-[49px] text-white/60 text-[16px]">
                Antwerp is a port city on Belgium’s River Scheldt, with history dating to the Middle Ages. In its center, the centuries-old Diamond District houses thousands of diamond traders, cutters and polishers. 
            </div>

            <button
                role="button"
                class="w-full py-[18px] border border-white/20 text-white rounded-full hover:bg-white/20"
            >
                Belgium
            </button>
        </li>
    </div>
</div>
