<div
    class="flex flex-col w-full bg-brand-dark-gray/40 p-6 md:p-[80px] md:pt-28 md:mt-28"
>
    <div class="md:text-center font-bold text-white text-[30px] mx-auto">
        Immerse Yourself in the Magic of Hungary!
    </div>

    <div
        class="md:text-center text-white/70 text-sm md:text-[16px] md:w-[578px] mx-auto mt-4"
    >
        Embark on a journey to discover the allure of Hungary – a vibrant
        tapestry of rich culture, exquisite cuisine, and breathtaking
        landscapes. Your thrilling adventure awaits, filled with the enchanting
        spirit of Hungary!
    </div>
</div>

<div class="flex items-center">
    <div
        class="w-full md:grid grid-cols-1 md:grid-cols-2 gap-[21px] px-6 p-[80px] max-w-screen-lg mx-auto gap-y-[50px]"
    >
        <li
            role="button"
            class="bg-brand-card-dark py-[20px] mb-9 md:mb-0 px-[25px] rounded-[20px] text-center"
        >
            <img
                class="object-cover flex-shrink-0 rounded-[20px] w-full h-[322px]"
                src="../../../../assets/city.png"
                alt=""
            />

            <div class="text-white font-black text-[25px] mt-[32px]">
                Urban Thrill
            </div>

            <div class="mt-[17px] mb-[49px] text-white/60 text-[16px]">
                Immerse yourself in the vibrant pulse of Hungary's bustling city
                life.
            </div>

            <button
                role="button"
                class="w-full py-[18px] border border-white/20 text-white rounded-full hover:bg-white/20"
            >
                I'm ready for Hungary
            </button>
        </li>

        <li
            role="button"
            class="bg-brand-card-dark py-[20px] mb-9 md:mb-0 px-[25px] rounded-[20px] text-center"
        >
            <img
                class="object-cover flex-shrink-0 rounded-[20px] w-full h-[322px]"
                src="../../../../assets/church.png"
                alt=""
            />

            <div class="text-white font-black text-[25px] mt-[32px]">
                Serenity in place
            </div>

            <div class="mt-[17px] mb-[49px] text-white/60 text-[16px]">
                Or perhaps the tranquil charm of Hungary's countryside calls to
                you?
            </div>

            <button
                role="button"
                class="w-full py-[18px] border border-white/20 text-white rounded-full hover:bg-white/20"
            >
                Bring me now
            </button>
        </li>
    </div>
</div>
