<div class="flex items-center bg-accent-default">
    <div
        class="w-full md:grid grid-cols-1 md:grid-cols-2 gap-[21px] px-6 py-16 md:p-[80px] max-w-screen-lg mx-auto gap-y-[50px]"
    >
        <div class="flex text-center flex-col h-full justify-center col-span-3">
            <div class="text-4xl md:text-7xl font-black leading-[40px] md:leading-[80px] text-white">
                Embark on your journey to the dream job of a lifetime – it's
                ready and waiting for you!
            </div>

            <div class="flex items-center justify-center">
                <button
                    class="md:hover:text-accent-lighter text-accent-default bg-black mt-10 font-bold w-[214px] h-[53px] rounded-l-full rounded-r-full mx-[7px]"
                >
                    Contact Recruiter
                </button>
            </div>
        </div>
    </div>
</div>
